.page-id-198,
.page-id-43 {
  background: url("../assets/images/bg-terms.png") no-repeat;
  background-size: cover;
  height: auto;

  .container {
    max-width: 1565px;
    width: 95%;
    margin: 0 auto;
    padding: 65px 15px 185px;

    .text-page {
      background-color: #fff;
      padding: 75px 99px 33px;

      &__main {
        margin-bottom: 100px;
      }
      &__main-two,
      &__main-three,
      &__main-four,
      &__main-five,
      &__main-six,
      &__main-seven,
      &__main-eight,
      &__main-nine,
      &__main-ten,
      &__main-eleven,
      &__main-zero {
        margin-bottom: 60px;
      }

      .entry-header {
        padding-bottom: 65px;
        text-align: center;
        h1 {
          font-style: normal;
          font-weight: bold;
          font-size: 52px;
          line-height: 24px;
        }
      }
      .entry-content {
        li {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
        }
        h2 {
          font-style: normal;
          font-weight: bold;
          font-size: 36px;
          line-height: 15px;
          color: #032954;
          padding-top: 37px;
          padding-bottom: 31px;
        }
      }
    }
  }

  // @media screen and (max-width: 990px){
  //   .container {
  //     .text-page {
  //       .entry-header{
  //         h1{
  //           line-height: 1;
  //         }
  //       }
  //     }
  //   }
  // }
  // @media screen and (max-width: 768px){
  //   .container {
  //     padding: 27px 15px 44px;
  //     .text-page {
  //       padding: 31px 15px 33px;

  //       .entry-header{
  //         padding-bottom: 10px;
  //         h1{
  //           font-size: 24px;
  //         }
  //       }

  //       .entry-content{
  //         h2{
  //           font-size: 18px;
  //           line-height: 1;
  //           padding-top: 30px;
  //           padding-bottom: 19px;
  //         }

  //         li{
  //           font-style: normal;
  //           font-weight: normal;
  //           font-size: 12px;
  //           line-height: 24px
  //         }
  //         p{
  //           font-size: 12px;
  //         }
  //       }
  //     }
  //   }
  // }
  @media screen and (max-width: 768px) {
    .container {
      padding: 27px 15px 44px;
      .text-page {
        padding: 31px 15px 33px;

        .entry-header {
          text-transform: uppercase;
          padding-bottom: 10px;
          & h1 {
            font-size: 24px;
          }
        }

        .entry-content {
          & h2 {
            font-size: 18px;
            line-height: 1;
            padding-top: 30px;
            padding-bottom: 10px;
          }

          & li {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 24px;
          }
          & p {
            font-size: 12px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 414px) {
    .container {
      padding: 13px 7px 22px;
      .text-page {
        padding: 15px 7px 16px;

        .entry-header {
          padding-bottom: 5px;
          text-transform: uppercase;
          & h1 {
            font-size: 12px;
          }
        }

        .entry-content {
          & h2 {
            font-size: 18px;
            line-height: 1;
            padding-top: 30px;
            padding-bottom: 10px;
          }

          & li {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
          }
          & p {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }
  }
}
